@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-image: url(https://www.minestia.fr/uploads/22056/1.webp);
    background-size: cover;
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table{
    width: 100%;
    min-height: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.table ul{
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: center;
}

.table ul li{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 15%;
}

.table ul span{
    color: white;
    font-size: 2rem;
}

.table ul li a{
    text-decoration: none;
    color: grey;
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
}

.table ul li:hover a, .table ul li:hover i{
    font-size: 3rem;
    transition: 0.2s ease-in-out;
}

.table ul i{
    color: grey;
    font-size: 2.5rem;
}


@media screen and (max-width: 1000px){
    .table ul li a{
        display: none;
    }
    .table ul li i{
        font-size: 4rem;
    }
    .table ul li:hover a, .table ul li:hover i{
        font-size: 4rem;
        cursor: pointer;
    }
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ip{
    width: auto;
    background-color: white;
    opacity: 0.7;
    font-size: 5em;
    border-radius: 30px;
    padding: 1rem;
    cursor: pointer;
    min-width: 10%;
    transition: 0.2s ease-in-out;
    margin-left: 2%;
    margin-right: 2%;
}

@media (max-width: 800px){
    #ip{
      font-size: 4.3em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 700px){
    #ip{
      font-size: 3.6em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 650px){
    #ip{
      font-size: 3.7em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 600px){
    #ip{
      font-size: 3.5em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 570px){
    #ip{
      font-size: 3em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 550px){
    #ip{
      font-size: 2.7em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 470px){
    #ip{
      font-size: 2.5em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 450px){
    #ip{
      font-size: 2.3em;
      transition: 0.2s ease-in-out;
    }
}
@media (max-width: 400px){
    #ip{
      font-size: 2em;
      transition: 0.2s ease-in-out;
    }
}

.rights{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.rights span:nth-child(1){
    color: white;
    font-size: 0.8rem;
}

.rights span:nth-child(2){
    color: white;
    font-size: 0.45rem;
}